header{
    display: flex;
    background-color: rgb(50, 167, 145);
  
   justify-content: space-between;


  }


  .trybewarts-login{
      display: flex;
      height: 20%;
     justify-content: flex-end;
     align-self: center;
    
  }


  .trybewarts-header-logo{
      width: 6%;
      display:flex;
     justify-content: flex-start;

  }


  main{display: flex;
    border: 1px solid black;
}

  #evaluation-form{display: flex;

      width:675px;
    border: 1px solid black;
    flex-direction: column
}

#trybewarts-forms-logo{height: 500px;}

footer{border: 1px solid black;}
