header{
    display: flex;
    background-color: rgb(50, 167, 145);
  
   justify-content: space-between

  }


  .trybewarts-login{
      display: flex;
      height: 20%;
     justify-content: flex-end;
     align-self: center;
    
  }


  .trybewarts-header-logo{
      width: 6%;
      display:flex;
     justify-content: flex-start;

  }