header{
    display: flex;
    background-color: rgb(50, 167, 145);
  
   justify-content: space-between;


  }


  .trybewarts-login{
      display: flex;
      height: 20%;
     justify-content: flex-end;
     align-self: center;
    
  }


  .trybewarts-header-logo{
      width: 6%;
      display:flex;
     justify-content: flex-start;

  }


  main{
    margin: 5%;
    display: flex;
    border: 1px solid black;
}

  #evaluation-form{display: flex;
      width:675px;
    
    flex-direction: column;

}

#trybewarts-forms-logo{height: 500px;    
    order: 1;
}

footer{border: 1px solid black;
display: flex;
align-self: flex-end;
order: 2;
}

.row{display: flex;
flex-direction: row;
margin-top: 1%;
}

/* input{
    align-self: flex-start;
    margin-left: 5%;
} */
