

body {
  border: 2px solid black;
}

.trybewarts-header-logo{
  width: 6vw;
  height: 15vh;
 margin-left: 3vw;
  border: 2px solid black;
}


#trybewarts-forms-logo{
  height: 35vw;
  border: 2px solid rgb(163, 16, 16);
  margin-right: 10vw;
}