
header {
  background-color: $bluewart;

  height: 20vh;
  width:  99vw;
  display: flex;
   align-items: center;
   justify-content: end;
  


}

  .trybewarts-login {
    
    display: flex;
    flex-direction: column;
    width: 17vw;
    justify-content: center;
    align-items: center;
    margin-right: 6vw;
    

  };


  .trybewarts-login input {
    width: 15vw;
    height: 4vh;
    border-radius: 6px;
  }
  .trybewarts-login input:focus {
    outline-color: $borderBlue;
  }

  #trybewarts-header-title{
    height: 6vh;
   margin-right: 20vw;
    color: $colorHalfWhite;
   
  }

  .trybewarts-login button {
    margin-top: 3.50vh;
    width: 15vw;
    height: 4vh;
    border-radius: 5px;
  }

  main {
   
    display: flex;
    flex-direction: row-reverse;
    height: 120vh;
    gap: 100px;
    
  }

 
 

  input{
    border: 2px solid $bluewart;
    border-radius: 5px;
    height: 4vh;
    
    
  }

  .row {
    margin-top: 20px;
    border: 2px solid $bluewart;
     margin-left: 60px;
    height: 10vh;
    width: 32vw;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  textarea {
    resize: none;
    width: 30vw;;
    height: 20vh;
    border: 1px solid $bluewart;
  }

  .comentary{
    margin-top: 30px;
    margin-left: 47px;
    border: 2px solid $bluewart;
    width: 35vw;
    height: 27vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }


  

.label{
  
  width: 20vw;
  margin-top: 15px;
  margin-bottom: -10px;
  margin-left: 4.5vw;
}

  #submit-btn{
    border: 1px solid black;
    width: 8vw;
    height: 10vh;
    border-radius: 5px;
    margin-top: 15px;
  }

  .radios {
     border: 2px solid $bluewart;
     height: 10vh;
     width: 32vw;
     margin-left: 4.4vw;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
     margin-top: 10px;
  }

  footer {
    width:  99vw;
    height: 5vh;
    border: 2px solid $bluewart;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .agreement{
    margin-top: 10px;
  }
