body {
  display: flex;
  flex-direction: column;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.trybewarts-header-logo {
  width: 6vw;
  height: 15vh;
  margin-right: 32vw;
}

#trybewarts-forms-logo {
  height: 30vw;
  margin-top: 18vh;
  margin-right: 20vw;
}

header {
  background-color: rgb(50, 167, 145);
  height: 20vh;
  width: 99vw;
  display: flex;
  align-items: center;
  justify-content: end;
}

.trybewarts-login {
  display: flex;
  flex-direction: column;
  width: 17vw;
  justify-content: center;
  align-items: center;
  margin-right: 6vw;
}

.trybewarts-login input {
  width: 15vw;
  height: 4vh;
  border-radius: 6px;
}

.trybewarts-login input:focus {
  outline-color: rgb(91, 65, 236);
}

#trybewarts-header-title {
  height: 6vh;
  margin-right: 20vw;
  color: rgb(238, 230, 238);
}

.trybewarts-login button {
  margin-top: 3.5vh;
  width: 15vw;
  height: 4vh;
  border-radius: 5px;
}

main {
  display: flex;
  flex-direction: row-reverse;
  height: 120vh;
  gap: 100px;
}

input {
  border: 2px solid rgb(50, 167, 145);
  border-radius: 5px;
  height: 4vh;
}

.row {
  margin-top: 20px;
  border: 2px solid rgb(50, 167, 145);
  margin-left: 60px;
  height: 10vh;
  width: 32vw;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 10px;
}

textarea {
  resize: none;
  width: 30vw;
  height: 20vh;
  border: 1px solid rgb(50, 167, 145);
}

.comentary {
  margin-top: 30px;
  margin-left: 47px;
  border: 2px solid rgb(50, 167, 145);
  width: 35vw;
  height: 27vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.label {
  width: 20vw;
  margin-top: 15px;
  margin-bottom: -10px;
  margin-left: 4.5vw;
}

#submit-btn {
  border: 1px solid black;
  width: 8vw;
  height: 10vh;
  border-radius: 5px;
  margin-top: 15px;
}

.radios {
  border: 2px solid rgb(50, 167, 145);
  height: 10vh;
  width: 32vw;
  margin-left: 4.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

footer {
  width: 99vw;
  height: 5vh;
  border: 2px solid rgb(50, 167, 145);
  display: flex;
  justify-content: center;
  align-items: center;
}

.agreement {
  margin-top: 10px;
}

@media screen and (max-width: 820px) {
  body {
    background-color: aqua;
  }
  #evaluation-form {
    margin-right: 35vw;
    margin-top: 20px;
  }
  #trybewarts-forms-logo {
    display: none;
  }
  textarea {
    width: 50vw;
  }
  main {
    display: flex;
  }
  #input-name {
    height: 3.5vh;
  }
  #input-lastname {
    height: 3.5vh;
  }
  .row {
    display: flex;
    border: 1px solid transparent;
    height: 20vh;
  }
  #house {
    height: 4vh;
    width: 45vw;
    border: 2px solid rgb(50, 167, 145);
  }
  #submit-btn {
    width: 60px;
    height: 10vh;
  }
  .label {
    border: 1px solid black;
  }
  footer {
    margin-top: 50vh;
  }
  .comentary {
    border: 1px solid black;
  }
  .trybewarts-header-logo {
    margin-right: 10vw;
    width: 80px;
  }
  header {
    width: 100vw;
  }
  .radios {
    border: 1px solid black;
  }
}/*# sourceMappingURL=main.css.map */